<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<div class="d-xl-flex">

    <th:block th:include="~{fragments/header}"/>

    <main class="flex-xl-grow-1">
        <div class="py-5 py-sm-11">
            <div class="container">

                A list of all trip documents

            </div>
        </div>
    </main>

</div>

<th:block th:include="~{fragments/navbar-footer}"/>

</body>
</html>
